body, html {
    margin: auto;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    background-color: #1F2031;
}

.restrict {
    max-width: 360px;
    margin: auto;
}

main {
    padding: 0 45px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.columns {
    flex-direction: column;
}

.center-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.centered-text {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.gap-75 {
    gap: 75px;
}

img {
    width: 100%;
}

.margin-top-bottom-10 {
    margin: 10px 0;
}

.margin-top-bottom-50 {
    margin: 50px 0;
}

.margin-top-130-bottom-50 {
    margin: 130px 0 50px;
}

.margin-top-bottom-75 {
    margin: 75px 0;
}

.margin-top-bottom-25 {
    margin: 25px 0;
}

.social-media {
    width: 45px;
}

/* .padding-10 {
    padding: 10px;
} */

.padding-sides-30 {
    padding: 0 30px;
}

.circle {
    border-radius: 50%;
}

h2, h3, a, p, span {
    color: #fff;
}

.top-border {
    box-sizing: border-box;
    border-top: 1px solid #707070;
}

.hidden {
    display: none;
}

@media screen and (min-width: 760px) {
    .mobile {
        display: none;
    }

    .desk-gap-40 {
        gap: 40px;
    }

    .desk-gap-120 {
        gap: 120px;
    }

    .desk-rows-reverse {
        flex-direction: row-reverse;
    }

    .desk-rows {
        flex-direction: row;
    }

    .restrict {
        max-width: 560px;
        margin: auto;
    }

    .restrict-less {
        max-width: 1024px;
        margin: auto;
    }

    .width-50prc {
        width: 50%;
    }

    .desk-center-content {
        justify-content: center;
    }
}